<div class="container text-center mt-5">
    <div class="row" style="font-family: Georgia, 'Times New Roman', Times, serif;">
        <div class="col-md-12">
            <h1 style="color: steelblue;">Firebase</h1> <br><br>
        </div>
        <div class="col-md-12">
            <h3 style="color: snow;">Firebase : JSON verilerimizi uzak bir sunucuda gerçek zamanlı olarak
                depolayabildiğimiz, bulut (Cloud) tabanlı bir platformdur.</h3> <br><br>
            <br><br><br><br><br>
            <h5 style="color: black; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Yedeklemeye başlamak için lütfen oturum açın. Hesabınız yoksa yeni üyelik oluşturun.</h5>
        </div>
        <div class="col-md-6">
            <button style="color: maroon;" class="btn btn-link" [routerLink]="['/login']">Giriş Yap</button>
        </div>
        <div class="col-md-6">
            <button style="color: maroon;" class="btn btn-link" [routerLink]="['/register']">Üye Ol</button>
        </div>
    </div>
</div>
