<!--<div class="container mt-5">
  <div class="row">
    <div class="col-md-4">
      <button class="btn btn-outline-danger" *ngIf="firebaseService.logInControl()">Çıkış</button>
    </div>
    <div class="col-md-4">
      <div style="color:white; font-family: Georgia, 'Times New Roman', Times, serif;">
        <h3>Firebase Bulut Depolama</h3>
      </div>
    </div>
    <div class="col-md-12 mt-5 text-center" style="position: relative; left: -21px;">
      <app-home></app-home>
    </div>
    <div class="col-md-12 mt-5 text-center">
      <app-list></app-list>
    </div>
  </div>
</div>-->

<router-outlet></router-outlet>