<!--
    <div class="container mt-5">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h4>Login</h4>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label>E-Mail Adresiniz</label>
                        <input type="text" class="form-control" name="mail" #mail>
                    </div>
                    <div class="form-group">
                        <label>Şifreniz</label>
                        <input type="password" class="form-control" name="parola" #parola>
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-outline-primary btn-block" (click)="girisYap(mail.value, parola.value)">Giriş Yap</button>
                    <button class="btn btn-link btn-block" [routerLink]="['/register']">Üye Ol</button>
                </div>
            </div>
            <div [ngClass]="sonuc.islem ? 'alert alert-succes' : 'alert alert-danger' " *ngIf="sonuc.mesaj?.length>0">{{ sonuc.mesaj }}</div>
        </div>
    </div>
</div>
-->


<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <form #frm class="box">
                    <h2>Hesabına Giriş Yap</h2>
                    <p class="text-muted">Lütfen Üye Bilgilerinizi Girin</p>
                    <input type="text" name="mail" #mail placeholder="E-mail Adresiniz">
                    <input type="password" name="parola" #parola placeholder="Parolanız">
                    <input type="submit" class="btn btn-outline-primary btn-block"
                        (click)="girisYap(mail.value, parola.value)" value="Giriş Yap" [disabled]="frm.invalid">
                    <a class="forgot text-muted" [routerLink]="['/register']">Üye Değil misin?</a> <br><br>
                    <div [ngClass]="sonuc.islem ? 'alert alert-succes' : 'alert alert-danger' " *ngIf="sonuc.mesaj?.length>0">{{ sonuc.mesaj }}</div>
                </form>
            </div>
        </div>
    </div>
</div>